In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('gas_turbines.csv')
df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311
...,...,...,...,...,...,...,...,...,...,...,...
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.5186,79.559
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.8470,79.917
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.9632,90.912
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.2494,93.227
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.9816,92.498

In [3]:
tey=pd.cut(df['TEY'],bins=[-100.17,133.78,174.61],labels=['low energy yeild','high energy yeild'])
df['TEY']=tey

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['TEY']=1-le.fit_transform(df['TEY'])
df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,0,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,0,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,0,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,0,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,0,10.612,3.2484,82.311
...,...,...,...,...,...,...,...,...,...,...,...
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,0,10.400,4.5186,79.559
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,0,10.433,4.8470,79.917
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,0,10.483,7.9632,90.912
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,0,10.533,6.2494,93.227
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,0,10.583,4.9816,92.498

In [5]:
X=df.drop(['TEY'],axis=1)
Y=df['TEY']

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [7]:
import tensorflow as tf
ann = tf.keras.models.Sequential()
#Adding First Hidden Layer
ann.add(tf.keras.layers.Dense(units=10,activation="relu"))
#Adding Second Hidden Layer
ann.add(tf.keras.layers.Dense(units=13,activation="relu"))
#Adding Output Layer
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))
#Compiling ANN
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])
#Fitting ANN
ann.fit(X_train,Y_train,batch_size=32,epochs = 100)

Epoch 1/100
376/376 [==============================] - 2s 2ms/step - loss: 4.9883 - accuracy: 0.3739
Epoch 2/100
376/376 [==============================] - 1s 2ms/step - loss: 1.7018 - accuracy: 0.5179
Epoch 3/100
376/376 [==============================] - 1s 2ms/step - loss: 0.9438 - accuracy: 0.6305
Epoch 4/100
376/376 [==============================] - 1s 2ms/step - loss: 0.7209 - accuracy: 0.6919
Epoch 5/100
376/376 [==============================] - 1s 2ms/step - loss: 0.5942 - accuracy: 0.7362
Epoch 6/100
376/376 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7575
Epoch 7/100
376/376 [==============================] - 1s 2ms/step - loss: 0.5589 - accuracy: 0.7513
Epoch 8/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4888 - accuracy: 0.7645
Epoch 9/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4952 - accuracy: 0.7628
Epoch 10/100
376/376 [==============================] - 1s 3ms/step - loss: 0.4612 - accuracy: 0.7688
Epoch 11/100
376/376 [==============================] - 1s 3ms/step - loss: 0.4786 - accuracy: 0.7677
Epoch 12/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4600 - accuracy: 0.7703
Epoch 13/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4533 - accuracy: 0.7684
Epoch 14/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4520 - accuracy: 0.7714
Epoch 15/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4376 - accuracy: 0.7763
Epoch 16/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4293 - accuracy: 0.7774
Epoch 17/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4796 - accuracy: 0.7709
Epoch 18/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4172 - accuracy: 0.7753
Epoch 19/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4268 - accuracy: 0.7782
Epoch 20/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4371 - accuracy: 0.7733
Epoch 21/100
376/376 [==============================] - 1s 2ms/step - loss: 0.4173 - accuracy: 0.7788
Epoch 22/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3912 - accuracy: 0.7855
Epoch 23/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3714 - accuracy: 0.7866
Epoch 24/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3853 - accuracy: 0.7864
Epoch 25/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3966 - accuracy: 0.7864
Epoch 26/100
376/376 [==============================] - 1s 3ms/step - loss: 0.4099 - accuracy: 0.7797
Epoch 27/100
376/376 [==============================] - 1s 3ms/step - loss: 0.4085 - accuracy: 0.7823
Epoch 28/100
376/376 [==============================] - 1s 3ms/step - loss: 0.4083 - accuracy: 0.7826
Epoch 29/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3961 - accuracy: 0.7866
Epoch 30/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3808 - accuracy: 0.7835
Epoch 31/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3864 - accuracy: 0.7885
Epoch 32/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3867 - accuracy: 0.7825
Epoch 33/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3710 - accuracy: 0.7848
Epoch 34/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3900 - accuracy: 0.7861
Epoch 35/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3858 - accuracy: 0.7813
Epoch 36/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3705 - accuracy: 0.7920
Epoch 37/100
376/376 [==============================] - 1s 3ms/step - loss: 0.3791 - accuracy: 0.7878
Epoch 38/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3878 - accuracy: 0.7867
Epoch 39/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3792 - accuracy: 0.7861
Epoch 40/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3824 - accuracy: 0.7905
Epoch 41/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3719 - accuracy: 0.7963
Epoch 42/100
376/376 [==============================] - 1s 3ms/step - loss: 0.3751 - accuracy: 0.7891
Epoch 43/100
376/376 [==============================] - 1s 3ms/step - loss: 0.3829 - accuracy: 0.7894
Epoch 44/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3568 - accuracy: 0.7934
Epoch 45/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3606 - accuracy: 0.7954
Epoch 46/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3611 - accuracy: 0.7975
Epoch 47/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3620 - accuracy: 0.7933
Epoch 48/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3569 - accuracy: 0.7929
Epoch 49/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3444 - accuracy: 0.7986
Epoch 50/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3796 - accuracy: 0.7890
Epoch 51/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3594 - accuracy: 0.7923
Epoch 52/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3437 - accuracy: 0.8028
Epoch 53/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3679 - accuracy: 0.7906
Epoch 54/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3616 - accuracy: 0.7945
Epoch 55/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3593 - accuracy: 0.7962
Epoch 56/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8033
Epoch 57/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8038
Epoch 58/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3431 - accuracy: 0.8053
Epoch 59/100
376/376 [==============================] - 1s 3ms/step - loss: 0.3496 - accuracy: 0.7969
Epoch 60/100
376/376 [==============================] - 1s 3ms/step - loss: 0.3557 - accuracy: 0.7978
Epoch 61/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3635 - accuracy: 0.7982
Epoch 62/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8078
Epoch 63/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8112
Epoch 64/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3455 - accuracy: 0.8033
Epoch 65/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8005
Epoch 66/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3310 - accuracy: 0.8061
Epoch 67/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8069
Epoch 68/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3571 - accuracy: 0.8041
Epoch 69/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3549 - accuracy: 0.7930
Epoch 70/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3474 - accuracy: 0.8003
Epoch 71/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3486 - accuracy: 0.7929
Epoch 72/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8043
Epoch 73/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3259 - accuracy: 0.8085
Epoch 74/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8079
Epoch 75/100
376/376 [==============================] - 1s 3ms/step - loss: 0.3337 - accuracy: 0.8038
Epoch 76/100
376/376 [==============================] - 1s 3ms/step - loss: 0.3436 - accuracy: 0.7998
Epoch 77/100
376/376 [==============================] - 1s 3ms/step - loss: 0.3444 - accuracy: 0.8016
Epoch 78/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3306 - accuracy: 0.8063
Epoch 79/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3650 - accuracy: 0.7982
Epoch 80/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3349 - accuracy: 0.8039
Epoch 81/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3270 - accuracy: 0.8119
Epoch 82/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3296 - accuracy: 0.8056
Epoch 83/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3306 - accuracy: 0.8098
Epoch 84/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3426 - accuracy: 0.8047
Epoch 85/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3245 - accuracy: 0.8146
Epoch 86/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8013
Epoch 87/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3242 - accuracy: 0.8123
Epoch 88/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3284 - accuracy: 0.8066
Epoch 89/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8062
Epoch 90/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3236 - accuracy: 0.8112
Epoch 91/100
376/376 [==============================] - 1s 3ms/step - loss: 0.3232 - accuracy: 0.8106
Epoch 92/100
376/376 [==============================] - 2s 5ms/step - loss: 0.3236 - accuracy: 0.8096
Epoch 93/100
376/376 [==============================] - 1s 3ms/step - loss: 0.3251 - accuracy: 0.8105
Epoch 94/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3136 - accuracy: 0.8176
Epoch 95/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8127
Epoch 96/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3285 - accuracy: 0.8106
Epoch 97/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3296 - accuracy: 0.8112
Epoch 98/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3148 - accuracy: 0.8200
Epoch 99/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3199 - accuracy: 0.8179
Epoch 100/100
376/376 [==============================] - 1s 2ms/step - loss: 0.3199 - accuracy: 0.8104

In [8]:
threshold = 0.50
Y_preds = np.where(ann.predict(X_test)> threshold, 1, 0)
Y_preds

94/94 [==============================] - 0s 1ms/step

array([[1],
       [0],
       [0],
       ...,
       [1],
       [1],
       [0]])

In [9]:
Y_preds = Y_preds.ravel()
Y_preds

array([1, 0, 0, ..., 1, 1, 0])

In [10]:
np.mean(Y_preds==Y_test)

0.8304521276595744

PREDICT THE BURNED AREA OF FOREST FIRES WITH NEURAL NETWORKS

In [12]:
dt=pd.read_csv('forestfires.csv')
dt

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,...,0,0,0,0,0,0,0,0,0,large
513,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,...,0,0,0,0,0,0,0,0,0,large
514,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,...,0,0,0,0,0,0,0,0,0,large
515,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,...,0,0,0,0,0,0,0,0,0,small
516,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,...,0,0,0,0,0,0,1,0,0,small

In [13]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          517 non-null    object
 1   day            517 non-null    object
 2   FFMC           517 non-null    float64
 3   DMC            517 non-null    float64
 4   DC             517 non-null    float64
 5   ISI            517 non-null    float64
 6   temp           517 non-null    float64
 7   RH             517 non-null    int64
 8   wind           517 non-null    float64
 9   rain           517 non-null    float64
 10  area           517 non-null    float64
 11  dayfri         517 non-null    int64
 12  daymon         517 non-null    int64
 13  daysat         517 non-null    int64
 14  daysun         517 non-null    int64
 15  daythu         517 non-null    int64
 16  daytue         517 non-null    int64
 17  daywed         517 non-null    int64
 18  monthapr       517 non-null    int64
 19  monthaug       517 non-null    int64
 20  monthdec       517 non-null    int64
 21  monthfeb       517 non-null    int64
 22  monthjan       517 non-null    int64
 23  monthjul       517 non-null    int64
 24  monthjun       517 non-null    int64
 25  monthmar       517 non-null    int64
 26  monthmay       517 non-null    int64
 27  monthnov       517 non-null    int64
 28  monthoct       517 non-null    int64
 29  monthsep       517 non-null    int64
 30  size_category  517 non-null    object
dtypes: float64(8), int64(20), object(3)
memory usage: 125.3+ KB

In [14]:
dt.describe()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,...,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292,0.164410,...,0.017408,0.038685,0.003868,0.061896,0.032882,0.104449,0.003868,0.001934,0.029014,0.332689
std,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818,0.371006,...,0.130913,0.193029,0.062137,0.241199,0.178500,0.306138,0.062137,0.043980,0.168007,0.471632
min,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
forest=dt.iloc[:,2:]

In [16]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
forest['size_category']=1-le.fit_transform(forest['size_category'])
forest.tail()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
512,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,...,0,0,0,0,0,0,0,0,0,1
513,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,...,0,0,0,0,0,0,0,0,0,1
514,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,...,0,0,0,0,0,0,0,0,0,1
515,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,...,0,0,0,0,0,0,0,0,0,0
516,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,...,0,0,0,0,0,0,1,0,0,0

In [17]:
X1=forest.drop(['size_category'],axis=1)
Y1=forest['size_category']

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X1,Y1,test_size=0.2,random_state=42)

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [20]:
from keras.models import Sequential
from keras.layers import Dense

In [21]:
import tensorflow as tf
model= tf.keras.models.Sequential()
#Adding First Hidden Layer
model.add(tf.keras.layers.Dense(units=6,activation="relu"))
#Adding Second Hidden Layer
model.add(tf.keras.layers.Dense(units=6,activation="relu"))
#Adding Output Layer
model.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))
#Compiling ANN
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])
#Fitting ANN
model.fit(x_train,y_train,batch_size=32,epochs = 100)

Epoch 1/100
13/13 [==============================] - 1s 2ms/step - loss: 0.6927 - accuracy: 0.5738
Epoch 2/100
13/13 [==============================] - 0s 3ms/step - loss: 0.6759 - accuracy: 0.6247
Epoch 3/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6625 - accuracy: 0.6610
Epoch 4/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6511 - accuracy: 0.6731
Epoch 5/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6416 - accuracy: 0.6998
Epoch 6/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6334 - accuracy: 0.7191
Epoch 7/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6257 - accuracy: 0.7191
Epoch 8/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6190 - accuracy: 0.7288
Epoch 9/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6129 - accuracy: 0.7288
Epoch 10/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6067 - accuracy: 0.7288
Epoch 11/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6011 - accuracy: 0.7288
Epoch 12/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5954 - accuracy: 0.7337
Epoch 13/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5901 - accuracy: 0.7361
Epoch 14/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5853 - accuracy: 0.7361
Epoch 15/100
13/13 [==============================] - 0s 3ms/step - loss: 0.5807 - accuracy: 0.7361
Epoch 16/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5762 - accuracy: 0.7361
Epoch 17/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5723 - accuracy: 0.7433
Epoch 18/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5685 - accuracy: 0.7433
Epoch 19/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5643 - accuracy: 0.7433
Epoch 20/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5606 - accuracy: 0.7433
Epoch 21/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5567 - accuracy: 0.7433
Epoch 22/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5531 - accuracy: 0.7433
Epoch 23/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5492 - accuracy: 0.7458
Epoch 24/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5453 - accuracy: 0.7458
Epoch 25/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5413 - accuracy: 0.7482
Epoch 26/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5376 - accuracy: 0.7458
Epoch 27/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5338 - accuracy: 0.7458
Epoch 28/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5302 - accuracy: 0.7458
Epoch 29/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5255 - accuracy: 0.7482
Epoch 30/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5215 - accuracy: 0.7530
Epoch 31/100
13/13 [==============================] - 0s 3ms/step - loss: 0.5176 - accuracy: 0.7579
Epoch 32/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5134 - accuracy: 0.7603
Epoch 33/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7627
Epoch 34/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5057 - accuracy: 0.7627
Epoch 35/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5018 - accuracy: 0.7627
Epoch 36/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4974 - accuracy: 0.7651
Epoch 37/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4934 - accuracy: 0.7700
Epoch 38/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4890 - accuracy: 0.7700
Epoch 39/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4843 - accuracy: 0.7700
Epoch 40/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4799 - accuracy: 0.7748
Epoch 41/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4746 - accuracy: 0.7772
Epoch 42/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4697 - accuracy: 0.7821
Epoch 43/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4655 - accuracy: 0.7869
Epoch 44/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4607 - accuracy: 0.7869
Epoch 45/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4564 - accuracy: 0.7869
Epoch 46/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4518 - accuracy: 0.7893
Epoch 47/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4473 - accuracy: 0.7893
Epoch 48/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4426 - accuracy: 0.7918
Epoch 49/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4372 - accuracy: 0.8015
Epoch 50/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4327 - accuracy: 0.8015
Epoch 51/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4276 - accuracy: 0.7990
Epoch 52/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4229 - accuracy: 0.8015
Epoch 53/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4170 - accuracy: 0.8063
Epoch 54/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4122 - accuracy: 0.8063
Epoch 55/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4076 - accuracy: 0.8063
Epoch 56/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4023 - accuracy: 0.8136
Epoch 57/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3972 - accuracy: 0.8136
Epoch 58/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3922 - accuracy: 0.8136
Epoch 59/100
13/13 [==============================] - 0s 3ms/step - loss: 0.3864 - accuracy: 0.8184
Epoch 60/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3812 - accuracy: 0.8305
Epoch 61/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3747 - accuracy: 0.8426
Epoch 62/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3691 - accuracy: 0.8475
Epoch 63/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3633 - accuracy: 0.8523
Epoch 64/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3575 - accuracy: 0.8547
Epoch 65/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3526 - accuracy: 0.8571
Epoch 66/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3467 - accuracy: 0.8596
Epoch 67/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8596
Epoch 68/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8644
Epoch 69/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8717
Epoch 70/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3267 - accuracy: 0.8717
Epoch 71/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3212 - accuracy: 0.8741
Epoch 72/100
13/13 [==============================] - 0s 3ms/step - loss: 0.3160 - accuracy: 0.8765
Epoch 73/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3112 - accuracy: 0.8765
Epoch 74/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3061 - accuracy: 0.8789
Epoch 75/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3006 - accuracy: 0.8789
Epoch 76/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2955 - accuracy: 0.8838
Epoch 77/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2909 - accuracy: 0.8838
Epoch 78/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2852 - accuracy: 0.8886
Epoch 79/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2787 - accuracy: 0.8886
Epoch 80/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2747 - accuracy: 0.8910
Epoch 81/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2686 - accuracy: 0.8910
Epoch 82/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2622 - accuracy: 0.8910
Epoch 83/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2574 - accuracy: 0.8935
Epoch 84/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2518 - accuracy: 0.8935
Epoch 85/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2466 - accuracy: 0.8935
Epoch 86/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2416 - accuracy: 0.8959
Epoch 87/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2363 - accuracy: 0.9007
Epoch 88/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2313 - accuracy: 0.9056
Epoch 89/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2262 - accuracy: 0.9080
Epoch 90/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2221 - accuracy: 0.9031
Epoch 91/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2181 - accuracy: 0.9056
Epoch 92/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2118 - accuracy: 0.9153
Epoch 93/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2079 - accuracy: 0.9225
Epoch 94/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2032 - accuracy: 0.9249
Epoch 95/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1993 - accuracy: 0.9225
Epoch 96/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1948 - accuracy: 0.9249
Epoch 97/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1901 - accuracy: 0.9298
Epoch 98/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1868 - accuracy: 0.9322
Epoch 99/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1822 - accuracy: 0.9322
Epoch 100/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1786 - accuracy: 0.9322

In [22]:
from sklearn.metrics import classification_report
threshold = 0.50
Y_preds = np.where(model.predict(x_test)> threshold, 1, 0)
print(classification_report(y_test,Y_preds))

4/4 [==============================] - 0s 3ms/step
              precision    recall  f1-score   support

           0       0.88      0.95      0.91        76
           1       0.82      0.64      0.72        28

    accuracy                           0.87       104
   macro avg       0.85      0.80      0.82       104
weighted avg       0.86      0.87      0.86       104